.title {
  & > div {
    margin: 0 auto;
  
    & > p {
      margin-top:5px!important;
      color: black!important;
      font-size: calc(3 * var(--unit))!important;
    }

  }

}

.card {
  text-align: center;
  width: 350px;
  margin: 50px auto 10px
}

.cardText {
  margin-top: 10px;
}

.questionResult {
  text-align: left;

  & > p {
    margin-bottom: 10px;
    
    & > span {
      vertical-align: bottom;
    }
  }
}